.search-title {
    display: flex;
    padding-left: 250px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.iTest-div {
    height: 36px;
    line-height: 39px;
    padding-right: 10px;
    border-right: 1px solid #2E2D29;
}
.search-title span {
    color: #8c1515;
    font-size: 40px;
    font-weight: bold;
}
.search-title p {
    font-size: 25px;
    letter-spacing: -1.5px;
    margin: 0;
    padding-left: 10px;
    padding-top: 9px;
}
.search-content {
    /*background-color: #f9f6ef;*/
    background-image: url("../img/SearchResult/3.jpg");
    background-size: cover;
}
.searchResult-form {
    display: flex;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,0.5);
    /*box-shadow: 0 0 10px rgba(0,0,0,.15);*/
}